@use '@angular/material' as mat;
@include mat.core();

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #1c1c1c, #333);
  color: pink;
}

h2,
h3 {
  font-weight: 500;
}

button {
  text-transform: uppercase;
  font-weight: 600;
}

.mat-raised-button {
  border-radius: 4px;
}

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
