@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading spinner */
.loader {
  border-top-color: #ff4081; /* Pink color for the top of the spinner */
  animation: spin 1s linear infinite;
}
